<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurants App</title>
</head>
<body>
    <header class="app-bar">
            <div class="app-bar__menu">
                <button id="hamburgerButton">
                    <div class="bar bar-1"></div>
                    <div class="bar bar-2"></div>
                    <div class="bar bar-3"></div>
                </button>
            </div>
            <div class="app-bar__brand">
                <h1>Restaurants App</h1>
            </div>
            <nav id="navigationDrawer" class="app-bar__navigation">
                <ul>
                <li><a href="#/now-playing">Now Playing</a></li>
                <li><a href="#/upcoming">Upcoming</a></li>
                </ul>
            </nav>
    </header>
    <main id="mainContent">asda


        asd
    </main>
    <footer>
        <p>All data obtained from <a href="https://restaurant-api.dicoding.dev/" target="_blank" rel="noreferrer">Dicoding Restaurant API</a></p>
      </footer>
</body>
</html>